@model List<CinemaTickets.Domain.DomainModels.Movie>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<CinemaTickets.Domain.Identity.CinemaApplicationUser> SignInManager
@inject UserManager<CinemaTickets.Domain.Identity.CinemaApplicationUser> UserManager
@inject CinemaTickets.Repository.ApplicationDbContext Context
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];

        if (i % 3 == 0)
        {
            @:<div class="row ml-3">
            }


            <div class="col-md-3 m-4">
                <div class="card text-white bg-dark" style="width: 18rem; height: 30rem;">
                    <img class="card-img-top" src="@item.ImageUrl" style="height: 55%" alt="Image for movie" />

                    <div class="card-body">
                        <label class="card-title"><b>@item.MovieName</b> - (@item.Genre)</label>
                        <br />

                        @for (int j = 0; j < item.Rating; j++)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                            </svg>
                        }
                    </div>

                    <div class="card-footer">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @foreach (var u in Context.Users)
                            {
                                @if (UserManager.GetUserId(User) == u.Id && u.Role == CinemaTickets.Domain.DomainModels.Enumerations.Role.ADMIN)
                                {
                                    <a asp-controller="Movies" asp-action="Edit" asp-route-id="@item.Id" class="btn  btn-dark">Edit</a>
                                    <a asp-controller="Movies" asp-action="Delete" asp-route-id="@item.Id" class="btn  btn-dark">Delete</a>

                                }


                            }
                            <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id" class="btn  btn-block btn-danger mt-2">SEE MORE</a>
                        }

                    </div>
                </div>
            </div>



            if (i % 3 == 2)
            {
            @:</div>
        }
    }

</div>